<div>
  <h3>Mode</h3>
    <ui-switch 
    size="small" 
    defaultBgColor="green" 
    color="red"
    (change)="toggleMode()"
    ></ui-switch>
<h4>{{modeType}}</h4>
</div>

<div class="card">
<div class="card-header"><h3 align="center">{{ title }}</h3></div>
<div class="container">
  <div class="row">
      <div class="card-group">
          <span *ngFor="let alert of alerts" class="border">
              <div class="col grid-container">
                <div class="card">
                  <div [ngClass]="{'card-header':true,'bg-success':drillMode,'bg-danger':!drillMode}">{{ alert.category }}
                      <span href="#"><i class="fa fa-edit" aria-hidden="true"></i></span>
                      <span href="#"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </div>
                  <div class="card-body">{{ alert.text }}</div>
                  <div class="card-footer" align="center">
                      <button (click)="sendMessage(alert.text)">
                        <i class="fa fa-send" aria-hidden="true"></i>
                      </button>
                  </div>
                </div>
              </div>
            </span>
      </div>
  </div>
</div>
</div>